<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project Web</title>
     </head>

   {{> header}}

   <h3>Project page text goes here</h3>
   <p>{{info}}</p>

    <body>
     <h1>{{pageTitle}}</h1>

    {{> footer}}
    </body>
</html>
